<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="CONSOLE" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="edu.kv" level="DEBUG" additivity="false">
            <AppenderRef ref="CONSOLE" />
        </Logger>
        <Logger name="edu.membership" level="INFO" additivity="false">
            <AppenderRef ref="CONSOLE" />
        </Logger>
        <Root level="ERROR">
            <AppenderRef ref="CONSOLE"/>
        </Root>
    </Loggers>
</Configuration>
